* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $main-font;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $main-black;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1320px;
}
